{% extends "base.html" %}
{% block content %}
<form method="POST">
    <h1 class="text-center">S'inscrire</h1>
    <p class="text-center"><a href="{{ url_for('login') }}">Se connecter</a></p>
    <div class="mb-3">
        <label class="form-label">Nom d'utilisateur</label>
        <input type="text" class="form-control" name='username' required>
    </div>
    <div class="mb-3">
        <label class="form-label">Mot de passe</label>
        <input type="password" class="form-control" name='password' required>
    </div>
    <a class="icon-link icon-link-hover" href="{{ url_for('login') }}">
    <button type="submit" class="btn btn-primary" name="submit">S'inscrire</button>
</form>
{% endblock %}